
*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #FEE8EE;
	padding-top: 50px;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
}

textarea{
	resize: none;
}

  a:link { 
 
text-decoration: none; 
} 
a:visited { 

text-decoration: none; 
} 
a:hover { 
 
text-decoration: none; 
} 
/*顶部导航*/
.nav-container{
	height: 50px;
	padding-right: 0;
	padding-left: 0;
	text-align: center;
	background: url(../images/nav_bg.png) -50px center no-repeat;
	position: relative;
}

.nav-container .cancel{
	position: absolute;
	left: 30px;
	top: 18px;
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url(../images/icon/close.png) left center no-repeat;
	background-size: 20px 20px;
}

.nav-container .send a{
	position: absolute;
	right: 30px;
	top: 16px;
	display: inline-block;
	width: 28px;
	height: 25px;
	color: #fff;
	font-family: "Microsoft YaHei";
	font-style: normal;
}


.nav-container h3{
	display: inline-block;
	color: #fff;
	font-family: "Microsoft YaHei";
	line-height: 50px;
	font-size: 24px;
}


/*表单*/
.margin-top-24{
	margin-top: 24px;
}

/*位置*/
.weizhi-container{
	height: 25px;
	line-height: 25px;
	margin-top: 4px;
}

.weizhi{
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url(../../common/images/dingwei.jpg) center no-repeat;
	background-size: 25px 25px;
	float: left;
	border-radius: 50%;
}

.weizhi-container span{
	display: inline-block;
	float: left;
	color: #a1a1a1;
	margin-top: 1px;
	margin-left: 8px;
}


/*视频*/
.camera-container{
	height: 25px;
	line-height: 25px;
	margin-top: 4px;
}

.camera{
	display: inline-block;
	
	width: 25px;
	height: 25px;
	background-image: url(../../common/images/xiangji.jpg);
	

	background-size: 25px 25px;
	float: left;
	border-radius: 50%;
}

.camera-container span{
	display: inline-block;
	float: left;
	color: #a1a1a1;
	margin-top: 1px;
	margin-left: 8px;
}


/*版块*/
.xuanzebankuai-container{
	height: 25px;
	line-height: 25px;
	margin-top: 4px;
}

.xuanzebankuai{
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url(../images/icon/icons.png) left center no-repeat;
	background-size: 25px 25px;
	float: left;
	border-radius: 50%;
}

.xuanzebankuai-container span{
	display: inline-block;
	float: left;
	color: #a1a1a1;
	margin-top: 1px;
	margin-left: 8px;
}

/*版块*/
.tongzhi-container{
	height: 25px;
	line-height: 25px;
	margin-top: 4px;
}

.tongzhi{
	display: inline-block;
	width: 25px;
	height: 25px;
	background: url(../../common/images/tongzhi.jpg) left center no-repeat;
	background-size: 25px 25px;
	float: left;
	border-radius: 50%;
}

.tongzhi-container span{
	display: inline-block;
	float: left;
	color: #a1a1a1;
	margin-top: 1px;
	margin-left: 8px;
}






























