<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>我的联系人</title>

    <!-- Bootstrap -->
    <link href="__PUBLIC__/weixin/common/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/weixin/new_linkman/css/wodelianxiren.css" rel="stylesheet">
  </head>
  <body>

    <!--顶部导航-->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-12 nav-container">
            <i class="back"></i>
            <h3>我的联系人</h3>
          </div>
        </div>
      </div>
    </nav>
    <div class="maodian">
      <div class="container-fluid">
        <div class="row">
          <!--搜索-->
          <div class="col-xs-offset-1 col-xs-10">
            <form>
              <div class="form-group">
                <input type="text" class="form-control search" placeholder="搜索">
              </div>
            </form>          
          </div>
          <!--人名-->
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-offset-1 col-xs-9">
                <i class="collect" >收藏</i>

                <h4 class="a" id="a">A</h4>
                <div class="media">
                  <div class="media-left">
                    <img src="__PUBLIC__/weixin/new_linkman/images/touxiang.png" class="media-object">
                  </div>
                  <div class="media-body">
                    <p>人名</p>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <img src="__PUBLIC__/weixin/new_linkman/images/touxiang.png" class="media-object">
                  </div>
                  <div class="media-body">
                    <p>人名</p>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <img src="__PUBLIC__/weixin/new_linkman/images/touxiang.png" class="media-object">
                  </div>
                  <div class="media-body">
                    <p>人名</p>
                  </div>
                </div>
                <h4 class="b" id="b">B</h4>
                <div class="media">
                  <div class="media-left">
                    <img src="__PUBLIC__/weixin/new_linkman/images/touxiang.png" class="media-object">
                  </div>
                  <div class="media-body">
                    <p>人名</p>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <img src="__PUBLIC__/weixin/new_linkman/images/touxiang.png" class="media-object">
                  </div>
                  <div class="media-body">
                    <p>人名</p>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <img src="__PUBLIC__/weixin/new_linkman/images/touxiang.png" class="media-object">
                  </div>
                  <div class="media-body">
                    <p>人名</p>
                  </div>
                </div>

                  <h4 class="c" id="c">c</h4>
                <div class="media">
                  <div class="media-left">
                    <img src="__PUBLIC__/weixin/new_linkman/images/touxiang.png" class="media-object">
                  </div>
                  <div class="media-body">
                    <p>人名</p>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <img src="__PUBLIC__/weixin/new_linkman/images/touxiang.png" class="media-object">
                  </div>
                  <div class="media-body">
                    <p>人名</p>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <img src="__PUBLIC__/weixin/new_linkman/images/touxiang.png" class="media-object">
                  </div>
                  <div class="media-body">
                    <p>人名</p>
                  </div>
                </div>
                  <h4 class="d" id="d">d</h4>
                <div class="media">
                  <div class="media-left">
                    <img src="__PUBLIC__/weixin/new_linkman/images/touxiang.png" class="media-object">
                  </div>
                  <div class="media-body">
                    <p>人名</p>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <img src="__PUBLIC__/weixin/new_linkman/images/touxiang.png" class="media-object">
                  </div>
                  <div class="media-body">
                    <p>人名</p>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <img src="__PUBLIC__/weixin/new_linkman/images/touxiang.png" class="media-object">
                  </div>
                  <div class="media-body">
                    <p>人名</p>
                  </div>
                </div>
                  <h4 class="e" id="b">e</h4>
                <div class="media">
                  <div class="media-left">
                    <img src="__PUBLIC__/weixin/new_linkman/images/touxiang.png" class="media-object">
                  </div>
                  <div class="media-body">
                    <p>人名</p>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <img src="__PUBLIC__/weixin/new_linkman/images/touxiang.png" class="media-object">
                  </div>
                  <div class="media-body">
                    <p>人名</p>
                  </div>
                </div>
                <div class="media">
                  <div class="media-left">
                    <img src="__PUBLIC__/weixin/new_linkman/images/touxiang.png" class="media-object">
                  </div>
                  <div class="media-body">
                    <p>人名</p>
                  </div>
                </div>
              </div>
              <div class="col-xs-1 fixed">
                <i class="search2"></i>
                <i class="star"></i>
                <a href="#a">A</a>
                <a href="#b">B</a>
                <a href="#c">c</a>
                 <a href="#d">d</a>
                  <a href="#e">e</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="__PUBLIC__/weixin/new_linkman/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/weixin/new_linkman/js/wodelianxiren.js"></script>
      <script type="text/javascript">
      $(".back").click(function(){
           window.history.go(-1)
      })
    </script>
  </body>
</html>