<include file="Common:member_header"/>
<include file="Common:member_left"/>
<link rel='stylesheet' type="text/css" href="__PUBLIC__/home/css/member_table.css" />
<div id="right">
<div style="margin-top:9px;">
  
<a href="{:U('activity_add')}" class="btn btn-primary" style="   margin-top: 10px;">
            添加活动  </a>
            </div>
<table class="table table-bordered table-hover" style="text-align:center;    margin-top: 10px;">
                            <thead>
                             <tr><th>标题</th><th>类别</th><th>活动时间</th><th>图片</th><th>操作</th></tr>
                            </thead>
                            <tbody>
                            <foreach name="com" item="v">
                            <tr>
                         
                                <td style="vertical-align:middle;width:30%">{$v.title}</td>
                                 <td style="vertical-align:middle;"><?php switch ($v['type']) {
                                   case '0':
                                   echo '宣传';
                                     break;
                                    case '1':
                                   echo '团购';
                                     break;
                                      case '2':
                                   echo '投票';
                                     break;
                                   
                                 } ?></td>
                                <td style="vertical-align:middle;">{$v.start_time|date='Y-m-d',###}至{$v.end_time|date='Y-m-d',###}</td>
                           
                           <td style="vertical-align:middle;"><img src="__APP__/{$v.logo}" width="50"></td>
                            <td style="vertical-align:middle;"> 
                           <php>if($v['type']!=0){</php>
                            <a href="{:U('activity_baoming',array('id'=>$v['id'],'type'=>$v['type']))}" class="btn btn-warning  btn-sm"><i class="fa fa-pencil"></i> 查看报名</a>
                            <php>}</php>
                                 <a href="{:U('activity_change',array('id'=>$v['id']))}" class="btn btn-warning  btn-sm"><i class="fa fa-pencil"></i> 修改</a>
                                  <a href="{:U('activity_delete',array('id'=>$v['id']))}" class="btn btn-danger  btn-sm" onclick="return confirm('您确定要删除该项吗，如不确定请点取消')"><i class="glyphicon glyphicon-remove"></i> 删除</a>

                                </td>
                            </tr>                  
</foreach>
                              </tbody>
                            <tfoot>
                             <tr> <th colspan="14" style="text-align:right;">{$page} </th> 
                              </tr>
                              </tfoot>
                            </table>

</div>
 <!-- div content end --></div>
 <include file="Common:member_footer"/>