<include file="Common:member_header"/>
<include file="Common:member_left"/>
<div id="right">
          
            <div class="wrap">
                <div class="public">
                <form method="post" action="index.php?app=alipay&amp;act=post" enctype="multipart/form-data" id="profile_form">
                    <div class="information">
                     
                        <div class="info individual">
                            <table>
                                
                                <tbody><tr>
                                    <th style="text-align:right;">账号余额:</th>
                                    <td><font style="color:red;">965000.00</font>元</td>
                                </tr>
                                
                                
                                  <!--<tr>
                                    <th style="text-align:right;">选择会员等级:</th>
                                    <td>
                                    <select id='grade_id' name="grade_id" class="text width_normal" onchange="checked();">
                                    <option value="0">
                                    ----请选择vip等级----
                                    </option>
                                                                          </select>&nbsp;请选择要充值的vip等级</td>
                                </tr>
                                 <input type="hidden" id='grade_0' value="">
                                                                    -->
                                
                                <tr>
                                    <th style="text-align:right;">充值金额:</th>
                                    <td><input type="text" class="text width_normal" id="money" name="money" value=""></td>
                                </tr>
                                <tr>
                                    <th></th>
                                    <td><div class="alipay_btn_bg"><button style="color:#3E3E3E;text-align:center; text-align:center; background:url(http://localhost:808/mall/themes/mall/new/styles/default/images/alipay.png) no-repeat 5px center; border:none;  padding: 17px 15px 17px 60px; cursor:pointer; font-size:16px;" type="submit">支付宝充值到余额</button></div><!--<input type="submit" class="btn" value="确定充值" />--></td>
                                </tr>
                            </tbody></table>
                        </div>
                    </div>
                    <input value="alipay" type="hidden" name="alipay">
                </form>
                <!--<table class="fare">
    <tbody>
    <tr><h3 style="padding:0 70px;">商城会员VIP价格详细表</h3><br></tr>
             
    </tbody>
</table>-->
                </div>
                
                <div class="wrap_bottom"></div>
            </div>

            <div class="clear"></div>
            <div class="adorn_right1"></div>
            <div class="adorn_right2"></div>
            <div class="adorn_right3"></div>
            <div class="adorn_right4"></div>
        </div>
        
 <!-- div content end --></div>
 <include file="Common:member_footer"/>