<include file="Common:member_header"/>
<include file="Common:member_left"/>
<link rel='stylesheet' type="text/css" href="__PUBLIC__/home/css/member_table.css" />
<div id="right">
<!-- <div style="margin-top:9px;">
<a href="{:U('baoliao_list')}" class="btn btn-primary" style="   margin-top: 10px;">
            新闻爆料审核</a>
<a href="{:U('lanmu')}" class="btn btn-primary" style="   margin-top: 10px;">
            分类管理</a>
<a href="{:U('article_add')}" class="btn btn-primary" style="   margin-top: 10px;">
            添加文章</a>
             <span style="color:red">文章页地址 http://<?php// echo $_SERVER['SERVER_NAME']?>/weixin/index/new_news/id/<?php echo $_SESSION['uid']?>.html</span>
            </div> -->

<table class="table table-bordered table-hover" style="text-align:center;    margin-top: 10px;">
                            <thead>
                             <tr><th style="width:15%">标题</th><th>用户</th><th style="width:20%">留言</th><th style="width:80px">留言时间</th><th style="width:60px">被回复人</th><th style="width:20%">被回复信息</th><th style="width:80px">被回复时间</th><th style="width:50px">操作</th></tr>
                            </thead>
                            <tbody>
                            <php> if($com){ </php>
                            <foreach name="com" item="v">
                            <tr>
                                 <php>$bei=M('weixin_article_message')->where(array('id'=>$v['rwid']))->find(); </php>
                                <td style="vertical-align:middle;">
                                <span title="<?php    echo M('weixin_article')->where(array('id'=>I('id')))->getField('title');?>"><?php 
                               $re= M('weixin_article')->where(array('id'=>I('id')))->getField('title');
                                     $re1=mb_strlen($re,'utf-8');
                                     if($re1>15){
                                      echo mb_substr($re, 0,15,'utf-8').'..';
                                     }else{
                                      echo $re;
                                     }
                                ?></span></td>

                           <td style="vertical-align:middle;width:60px;"><?php echo M('weixin_mydata')->where(array('wid'=>$v['wid']))->getField('nickname')?M('weixin_mydata')->where(array('wid'=>$v['wid']))->getField('nickname'):M('weixin_man')->where(array('id'=>$v['wid']))->getField('nickname') ?></td>

                           <td style="vertical-align:middle;width:200px;text-align:left">
                             <span title="{$v.content}">
                               <?php $count=mb_strlen($v['content']);
                                    if($count>50){
                                      echo mb_substr($v['content'], 0,50,'utf-8').'..';
                                     }else{
                                      echo $v['content'];
                                     }
                                ?>
                             </span>
                           </td>
                            <td style="vertical-align:middle;width:90px">
                           {$v.addtime|date='Y-m-d H:i:s',###}
                           </td>
                            <td style="vertical-align:middle;">
                            <?php echo M('weixin_mydata')->where(array('wid'=>$bei['wid']))->getField('nickname')?M('weixin_mydata')->where(array('wid'=>$bei['wid']))->getField('nickname'):M('weixin_man')->where(array('id'=>$bei['wid']))->getField('nickname') ?>
                           </td>
                            <td style="vertical-align:middle;">
                             <span title="{$bei.content}">
                               <?php $count=mb_strlen($bei['content']);
                                    if($count>50){
                                      echo mb_substr($bei['content'], 0,50,'utf-8').'..';
                                     }else{
                                      echo $bei['content'];
                                     }
                                ?>
                             </span>
                           </td>
                            <td style="vertical-align:middle;">
                            <?php if($bei){?>
                             {$bei.addtime|date='Y-m-d H:i:s',###}
                             <?php }?>
                           </td>
                            
                            <td style="vertical-align:middle;"> 
                           
                                  <a href="{:U('reply_delete',array('id'=>$v['id']))}" class="btn btn-danger  btn-sm" onclick="return confirm('一旦删除，此留言下的回复留言也一并删除，您确定删除吗')"><i class="glyphicon glyphicon-remove"></i> 删除</a>

                                </td>
                            </tr>   
                           
</foreach>
<php>}else{</php>

<php>}</php>
                              </tbody>
                            <tfoot>
                             <tr> <th colspan="14" style="text-align:right;">{$page} </th> 
                              </tr>
                              </tfoot>
                            </table>

</div>
 <!-- div content end --></div>
<script type="text/javascript">
  $(function(){
    $("select").change(function(){
       var id=$(this).attr('class')
      var value=$(this).val()
       if(value>0){
          $.ajax({
          url:"{:U('article_label')}",
          type:'post',
          data:"id="+id+"&value="+value,
          success:function(msg){
              if(msg=='1'){
                location.reload()
              }else{
                alert('操作失败')
              }
          }
        })
       }
    })
 $(".view").change(function(){
   var view=$(this).val()
   var id=$(this).attr('id')
       $.ajax({
          url:"{:U('view_change')}",
          type:'post',
          data:"id="+id+"&view="+view,
          success:function(msg){
              if(msg=='1'){
                location.reload()
              }else{
                alert('操作失败')
              }
          }
       })
 })
  })
</script>
 <include file="Common:member_footer"/>