<include file="Common:member_header"/>
<include file="Common:member_left"/>
<link rel='stylesheet' type="text/css" href="__PUBLIC__/home/css/member_table.css" />
<div id="right">
<div style="margin-top:9px;">
<a href="{:U('broadcast_column')}" class="btn btn-primary" style="   margin-top: 10px;">
            分类管理</a>
<a href="{:U('broadcast_add')}" class="btn btn-primary" style="   margin-top: 10px;">
            添加广播信息  </a>&nbsp;
            <span style="color:red"> 视频页地址 http://<?php echo $_SERVER['SERVER_NAME']?>/weixin/index/new_guangbo/id/<?php echo $_SESSION['uid']?>.html</span>

            </div>
<table class="table table-bordered table-hover" style="text-align:center;    margin-top: 10px;">
                            <thead>
                             <tr><th>标题</th><th>类别</th><th>直播地址</th><th>图片</th><th>排序</th><th>操作</th></tr>
                            </thead>
                            <tbody>
                            <foreach name="com" item="v">
                            <tr>
                         
                                <td style="vertical-align:middle;width:200px;">{$v.title}</td>
                                <td style="vertical-align:middle;width:80px;"><?php echo M('weixin_broadcast_column')->where(array('id'=>$v['pid']))->getfield('title') ?></td>
                           <td style="vertical-align:middle;"><span style="width:100px;"><?php if($v['url']==''){echo '本地上传视频';}else{ echo $v['url'];}?></span></td>
                           <td style="vertical-align:middle;"><img src="__APP__/{$v.logo}" width="50"></td>
                           <td style="vertical-align:middle;"><input type="text" class="order" value="{$v.ordera}" style="text-align:center;border:none;width:60px;"><input type="hidden" value="{$v.id}"></td>
                            <td style="vertical-align:middle;width:160px;"> 
                                 <a href="{:U('broadcast_change',array('id'=>$v['id']))}" class="btn btn-warning  btn-sm"><i class="fa fa-pencil"></i> 修改</a>
                                  <a href="{:U('broadcast_delete',array('id'=>$v['id']))}" class="btn btn-danger  btn-sm" onclick="return confirm('您确定要删除该项吗，如不确定请点取消')"><i class="glyphicon glyphicon-remove"></i> 删除</a>

                                </td>
                            </tr>                  
</foreach>
                              </tbody>
                            <tfoot>
                             <tr> <th colspan="14" style="text-align:right;">{$page} </th> 
                              </tr>
                              </tfoot>
                            </table>

</div>
 <!-- div content end --></div>
  <script type="text/javascript">
$(function(){
  $(".order").change(function(){
       var order=$(this).val()
       var id=$(this).next().val()
       $.ajax({
          url:"{:U('broadcast_ordera_change')}",
          type:'post',
          data:"id="+id+"&order="+order,
          success:function(msg){
             if(msg){
                location.reload()
             }
          }
       })
  })
})
 </script>
 <include file="Common:member_footer"/>