<include file="Common:member_header"/>
<include file="Common:member_left"/>
<link rel='stylesheet' type="text/css" href="__PUBLIC__/home/css/member_table.css" />
<div id="right">
   <form role="form" action="{:U('invest_add_save')}" name="adminadd"  method="post" enctype="multipart/form-data">
                                <div class="form-body" style="margin-left:2%">
                               <!--  <div class="zc01 red" style="color:red; top:35px;">*注意：此指纹(Token) / AppId / AppSecret 必须与微信公众号后台一致,否则无法通信!</div> -->
                               
                                    <div class="form-group">
                                        <label><i style="color:red;"></i> 标题：</label>
                                        <div class="input-group" style="margin-top:10px;margin-left:15px;">
                                         <input name="title" id="realname" type="text" class="form-control input-xlarge" required oninvalid="setCustomValidity('标题不能为空')" oninput="setCustomValidity('')"  />
                                        </div>
                                    </div>
                                      <div class="form-group" style="margin-top:10px;">
                                        <label><i style="color:red;"></i> 所属分类：</label>
                                        <div class="input-group" style="margin-top:10px;margin-left:15px;">
                                        <select name="pid">
                                        <option value="0">请选择分类</option>
                                          <foreach name="column" item="v">
                                          <option value="{$v.id}"  >{$v.title}</option>
                                           
                                          </foreach>
                                        </select>
                                        </div>
                                    </div>
                                     <div class="form-group" style="margin-top:10px;">
                                        <label><i style="color:red;"></i> 投资期限：</label>
                                        <div class="input-group" style="margin-top:10px;margin-left:15px;">
                                         <input name="invest_time" id="realname" type="text" class="form-control input-xlarge" required oninvalid="setCustomValidity('投资期限不能为空')" oninput="setCustomValidity('')"  />
                                        </div>
                                    </div>
                                     <div class="form-group" style="margin-top:10px;">
                                        <label><i style="color:red;"></i> 融资金额：</label>
                                        <div class="input-group" style="margin-top:10px;margin-left:15px;">
                                         <input name="invest_financing" id="realname" type="text" class="form-control input-xlarge" required oninvalid="setCustomValidity('投资期限不能为空')" oninput="setCustomValidity('')"  />
                                        </div>
                                    </div>
                                    <div class="form-group" style="margin-top:10px;">
                                        <label><i style="color:red;"></i> 历史参考收益：</label>
                                        <div class="input-group" style="margin-top:10px;margin-left:15px;">
                                         <input name="invest_earnings" id="realname" type="text" class="form-control input-xlarge" required oninvalid="setCustomValidity('投资期限不能为空')" oninput="setCustomValidity('')"  />
                                        </div>
                                    </div>
                                   <div class="form-group" style="margin-top:10px;">
                                      <label><i style="color:red;"></i> url地址：</label>
                                      <div class="input-group" style="margin-top:10px;margin-left:15px;">
                                       <input name="url" id="realname" type="text" class="form-control input-xlarge" required oninvalid="setCustomValidity('直播地址不能为空')" oninput="setCustomValidity('')"  />
                                      </div>
                                  </div>
                                   <div class="form-group" style="margin-top:10px;">
                                      <label><i style="color:red;"></i> 图片：</label>
                                      <div class="input-group" style="margin-top:10px;margin-left:15px;">
                                       <input name="logo" id="realname" type="file" class="form-control input-xlarge" required oninvalid="setCustomValidity('图片不能为空')" oninput="setCustomValidity('')"  />
                                      </div>
                                  </div>
                                   
                                      <div class="form-group" style="margin-top:10px;">
                                        <label><i style="color:red;"></i> 简介：</label> 
                                        <div class="input-group" style="margin-top:10px;">
                                            
                                              
                                              <textarea rows="15" cols="60" placeholder="" name="content" id="editor_id"></textarea>
                                              
                                              </div>
                                        </div>
                                        <div class="form-group" style="margin-top:10px;">
                                        <label><i style="color:red;"></i> 描述：</label> 
                                        <div class="input-group" style="margin-top:10px;">
                                            
                                              
                                              <textarea rows="15" cols="60" placeholder="" name="detial" id="editor_id"></textarea>
                                              
                                              </div>
                                        </div>
                                </div>
                                <div class="form-actions" style="padding-left:20%;padding-top:2%;">
                                  <input type="submit" class="btn" value="保  存">    
                                    
                                </div>
                            </form>
</div></div>
 <!-- div content end --></div>
 <include file="Common:member_footer"/>