<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>Detail</title>

    <!-- Bootstrap -->
    <link href="__PUBLIC__/home/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/home/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default custom-navbar">
      <div class="container-fluid">
        <h3>交通大学河南企业家协会</h3>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-sm-10 col-md-offset-1">
          <h2>上海银图网络科技有限公司</h2>
          <img src="__PUBLIC__/home/images/bizhi.jpg" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-10 col-md-offset-1">
          <div class="jumbotron">
            <p>
              上海银图网络科技有限公司成立于2014年4月21日，是一家集互联网开发、网络运营 、互联网服务于一体的网络科技公司。其主要专注于技术创新、寄情于网络IT、投身于互联网事业。拥有全新的服务理念，服务社会。上海银图网络科技有限公司是一家快速成长、锐意进取的年轻网络科技公司。公司以人为本，以客户为中心，以需求为导向，以服务为宗旨；以创新、专业、求实、诚信、和谐为经营理念。创新科技，最专业的技术。现以成为整个行业技术较专业的网络公司。迅速发展成为网络科技领域的后起之秀。
            </p>
        
            <p>
              我们专注于网络互联网技术信息化及网络营销领域，通过整合团队专业的市场营销理念与网络技术为客户提供优质的网络服务。
              主要业务包括：网站系统开发、网站建设、网站推广、App开发、微信公共账号后台、软件开发以及网络营销策划与运行。
            </p>
       
            <p>
              我们秉承“为合作伙伴创造价值”的核心价值观，并以“诚实、宽容、创新、服务”为企业精神，通过自主创新和真诚合作为电子商务及信息服务行业创造价值。
            </p>

            <P>
              关于“为合作伙伴创造价值”
              我们认为客户、供应商、公司股东、公司员工等一切和自身有合作关系的单位和个人都是自己的合作伙伴，并只有通过努力为合作伙伴创造价值，才能体现自身的价值并获得发展和成功。
            </P>
       
            <p>
              关于“诚实、宽容、创新、服务”
              我们认为诚信是一切合作的基础，宽容是解决问题的前提，创新是发展事业的利器，服务是创造价值的根本。
            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="media">
            <div class="media-left">
            <span id="section4"></span>
              <a href="#">
                <img class="media-object" src="__PUBLIC__/home/images/logo.png" alt="logo">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">公司名称</h4>
              <p class="font-size-12">公司简介公司简介公司简介公司简介公司简介</p>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="media">
            <div class="media-left">
            <span id="section4"></span>
              <a href="#">
                <img class="media-object" src="__PUBLIC__/home/images/logo.png" alt="logo">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">公司名称</h4>
              <p class="font-size-12">公司简介公司简介公司简介公司简介公司简介</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="media">
            <div class="media-left">
            <span id="section4"></span>
              <a href="#">
                <img class="media-object" src="__PUBLIC__/home/images/logo.png" alt="logo">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">公司名称</h4>
              <p class="font-size-12">公司简介公司简介公司简介公司简介公司简介</p>
            </div>
          </div>
        </div>
        <div class="col-xs-6">
          <div class="media">
            <div class="media-left">
            <span id="section4"></span>
              <a href="#">
                <img class="media-object" src="__PUBLIC__/home/images/logo.png" alt="logo">
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading">公司名称</h4>
              <p class="font-size-12">公司简介公司简介公司简介公司简介公司简介</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <section class="container">
        <p>copyright©2009-2017 交通大学河南企业家协会</p>
        <p>网站地址：http://www.xxxxxx.com</p>
      </section>
    </footer>



    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="__PUBLIC__/home/js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="__PUBLIC__/home/js/bootstrap.min.js"></script>
  </body>
</html>