
*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #fff;
	padding-top: 50px;
	padding-bottom: 88px;
}

h1,h2,h3,h4,h5,h6{
	margin: 0;
}

.padding-0{
	padding: 0;
}
  a:link { 
 
text-decoration: none; 
} 
a:visited { 

text-decoration: none; 
} 
a:hover { 
 
text-decoration: none; 
} 
.margin-30-0{
	margin: 15px 0;
}

/*顶部导航*/
.nav-container{
	height: 50px;
	padding-right: 0;
	padding-left: 0;
	text-align: center;
	background: url(../images/nav_bg.png) center no-repeat;
	position: relative;
}

.nav-container h3{
	display: inline-block;
	color: #fff;
	font-family: "Microsoft YaHei";
	line-height: 50px;
	font-size: 24px;
}

.nav-container .back{
	display: inline-block;
	width: 18px;
	height: 18px;
	background: url(../images/icon/back.png) left center no-repeat;
	position: absolute;
	left: 16px;
	top: 18px;
}

.nav-container .share{
	display: inline-block;
	width: 18px;
	height: 18px;
	position: absolute;
	right: 24px;
	bottom: 13px;
	background: url(../images/icon/share.png) left center no-repeat;
	background-size: 18px 18px;
	text-indent: -9999px;
}



/*视频*/
.video-container{
	position: relative;
}

#yugao-btn{
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 100%;
	background: #666;
}

#yugao-btn span{
	position: absolute;
	left: 6px;
	top: 50%;
	width: 8px;
	height: 20px;
	background: url(../images/icon/yugao-btn.png) left center no-repeat;
}

#yugao-content{
	position: absolute;
	left: 0;
	top: 0;
	width: 100px;
	height: 100%;
	background: rgba(0,0,0,0.7);
	display: none;
}

#yugao-content ul{
	margin-top: 14px;
}

#yugao-content ul li{
	line-height: 28px;
	color: #fff;
	text-align: center;
}

#close{
	position: absolute;
	top: 0	;
	right: 4px;
	display: inline-block;
	width: 26px;
	height: 16px;
	font-size: 12px;
	color: #fff;
	border: 1px solid #ccc;
}


/*评论*/
.comment{
	margin-top: 10px;
}

.username{
	font-size: 18px;
	font-weight: bold;
}

.comment-content{
	min-width: 100%;
	min-height: 40px;
	background: #ccc;
}


/*进行评论*/
.navbar-bottom-custom{
	line-height: 50px;
	background: #5f5e5e;
}

.comment-input{
	margin-top: 8px;
}

.btn-send{
	background: #5f5e5e;
	color: #fff;
}




























