
.btn {
    background-color: #F3F3F3; 
    border: 1px solid #DCDCDC;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    padding: 4px 12px;    
    text-align: center;   
    vertical-align: middle;
    margin-right:10px;
}

.mainbox{
    
width:100%;
max-width:100%;
padding-bottom:20px;
    }

.mainbox .control-group {
    width: 100%;
    height:40px; line-height:40px;
}
.tbmodify td {
    background-color: #fff;
    padding: 3px 0 3px 10px;
    text-align: left;
    height: 32px;
    line-height: 26px;
}
.mainbox .hyinfo{
margin:10px 0px;
min-height:30px;
}
.mainbox .hyinfo .text-warning{
color:#1083BA;
line-height:20px;
}
.mainbox .hyinfo .text-ts{
color:#535353;
line-height:20px;
font-weight:normal;
}
.textinfo{
font-size:12px; line-height:20px; padding:10px;
}
.contentbox
        {
            min-width: 1050px;
            margin-top:5px;
        }
.table {
    margin-bottom: 20px;
    width: 100%;
}
.table th{
background-color:#F6F6F6;
}

.table th, .table td {
    border-top: 1px solid #DDDDDD;
    line-height:20px;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}
.table-bordered {
border-right:1px #DDDDDD solid;
border-bottom:1px #DDDDDD solid;
border-radius: 4px;
}
.table-bordered th, .table-bordered td {
    border-left: 1px solid #DDDDDD;
    padding: 4px 4px;
    word-break: keep-all;
    font-size:12px;
}
.noborder{
border-right:1px #DDDDDD solid;
border-bottom:1px #DDDDDD solid;
}
.noborder th, .noborder td {
    border-left: 1px solid #DDDDDD;
    padding: 4px 25px;
    word-break: keep-all;
    font-size:12px;
}

.fromtj th{
 font-weight:bold;
 height:40px;
 font-size:12px;
 text-align:right;
}
.fromtj td{
 font-weight:bold;
 font-size:12px;
 text-align:left;
 padding-left:20px;
}
.fromtj td .cd{
border:1px #CCCCCC solid; height:25px; font-size:12px; width:220px;
}
.btn-primary {
    background-color:#1C8FC6;
    background-image: linear-gradient(to bottom, #4D90FE, #4787ED);
    background-repeat: repeat-x;
    border: 0px solid #3079ED;
    color: #FFFFFF;
}
.btn_submit {
    background-color:#579D0D;
    background-image: linear-gradient(to bottom, #4D910C, #579D0D);
    background-repeat: repeat-x;
    border: 0px solid #579D0D;
    color: #FFFFFF;
    height:28px;
    width: 77px;
}
.hymenu{
height:30px;
margin:5px 0px;
}
.hymenu li{
    background: none repeat scroll 0 0 #DCDCDC;
    color: #575757;
    float: left;
    margin: 0 2px 0 0;
    text-align: center;
    width: 80px;
    height:30px;
    line-height:30px;
    font-size:14px;
    }
.hymenu li:hover{background-color:#3A73C9;}
.hymenu li:hover a{ color:#FFFFFF;}
.hymenu .active{background-color:#3A73C9;}
.hymenu .active a{ color:#FFFFFF;}
.search{
height:30px;
margin:5px 0px;
line-height:30px;
}
.search span{
float:left;}
.search .cd{
border:1px #CCCCCC solid; height:28px; font-size:12px; width:220px; float:left; line-height:28px;
}
/*page*/
.pagejump{ line-height:20px; padding:20px 0; text-align:center; width:100%; overflow:hidden}
.pagejump .number{ margin:0 auto; width:500px; text-align:center;}
.pagejump .number a { border: 1px solid #DDDDDD;  color: #000; height: 15px; line-height: 15px; text-decoration: none;margin-right: 2px; padding: 2px 5px;}
.pagejump .number a:hover { background:#2DA0D9; border: 1px solid #2DA0D9; color:#ffffff; height: 15px; line-height: 15px; text-decoration: none;}
.pagejump .number .current {border: 1px solid #DDDDDD;background: #2DA0D9; color:#FFF;}
/*wx*/
.messg{ color:#3598dc;font-size: 12px;}
.red{ color:#FF0000;}
.left, .l{ float:left;}

.c-gA {color: #aaa;}
.c-opr {color: #1e5494;}
.oh {overflow: hidden;}
.cLine {overflow: hidden;padding: 5px 0;}
.b {font-weight: bold;}
.block {display: block;}
div {
    text-align: left;
}
.replyList {float:left;display:inline-block;border-radius: 6px;-moz-border-radius: 6px;-webkit-border-radius: 6px;width: 563px;background: #fff;border: 1px solid #dbdbdb;overflow: hidden;*zoom:1;*display:inline; margin-left:10px;}
.replyList .cLine {padding: 5px 12px 5px 12px;border-bottom: 1px solid #dbdbdb;}
.replyList .cLine p.b{width:56px!important  }
.replyList .cLine p {float: left;line-height: 30px;text-align:left}
.replyList .cntBox {padding: 5px 12px 5px 12px;border-bottom: 1px solid #dbdbdb; font-weight:normal;height:27px;}
.addlink { float:right; }
.addlink a { text-decoration: none;color: #2559A6;padding-left:3px;font-size:12px; }

/* .replyList .replyItems {padding: 5px 0 5px 0;overflow: hidden;overflow-y: auto;} */
.replyList .replyItems .item {position: relative;overflow: hidden;padding: 0 8px 10px 8px;margin-bottom: 10px;border-bottom: 1px solid #dbdbdb;}
.replyList .btnArea {background: #eeeded;border-radius: 0 0 5px 5px;-moz-border-radius: 0 0 5px 5px;-webkit-border-radius: 0 0 5px 5px;height: 40px;padding: 7px 7px 7px 7px;overflow: hidden;}

.replyList .btnArea .btnAdd {height:23px;font-family: "Microsoft YaHei",Helvetica,Verdana,Arial,Tahoma;line-height: 1.5;font-size: 14px;padding-left: 28px;background: url('../../common/images/icon28.png') no-repeat scroll 0 0 transparent;border: 0;cursor: pointer;}
.replyList .btnArea a {min-width: 78px;display: block;margin-top: 3px;float: right;}
.replyList .btnArea .addWords {background-position: 0 -116px;}
.replyList .btnArea .addRecording {background-position: 0 -148px;}
.replyList .btnArea .addFiles {background-position: 0 -179px;}
.replyList .btnArea .addAppMsg {background-position: 0 -212px;}


/*div {display: block;}*/
.msg-item-wrapper {margin:20px 0 26px 105px;width:350px; position: relative;border: 1px solid #b8b8b8;background-color: #f4f4f4;box-shadow: 0 2px 2px rgba(0,0,0,0.1);-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.1);-moz-box-shadow: 0 2px 2px rgba(0,0,0,0.1);border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;}
.msg-item-wrapper .msg-item {border-radius: 5px;box-shadow: none;moz-border-radius: 5px;moz-box-shadow: none;webkit-border-radius: 5px;webkit-box-shadow: none;}
.msg-item {padding: 2px 0;background-color: #fff;border-bottom: 1px solid #ccc;box-shadow: 0 2px 4px rgba(0,0,0,0.2);-webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.2);-moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);border-radius: 5px 5px 0 0;-webkit-border-radius: 5px 5px 0 0;-moz-border-radius: 5px 5px 0 0;}
.msg-item-wrapper .pv-tips {position: absolute;right: 0;top: 0;min-width: 100px;line-height: 1.8em;background: black;z-index: 100;opacity: .7;filter: alpha(opacity=70);border-radius: 5px;text-align: center;color: white;font-weight: bold;padding: .2em 1em;display: none;}
.msg-meta { display:block;width:100%;height:10px;}
.multi-msg .msg-meta {margin: 0 14px;line-height: 28px;}
.default-tip {display: block;text-align: center;background-color: #ececec;text-shadow: 0 1px 0 #fff;-webkit-text-shadow: 0 1px 0 #fff;-moz-text-shadow: 0 1px 0 #fff;}
.cover {margin: 0 14px 12px;position: relative;font-size: 0;height: 160px;overflow: hidden;}
.cover .default-tip {font-size: 22px;color: #aaa;line-height: 160px;font-size: 0;}

.h4 {display: block;-webkit-margin-before: 1.33em;-webkit-margin-after: 1.33em;-webkit-margin-start: 0px;-webkit-margin-end: 0px;font-weight: bold;}
.msg-t {margin: 6px 14px 0;line-height: 28px;max-height: 56px;overflow: hidden;font-size: 16px;font-weight: 400;letter-spacing: 1px;}
.cover .msg-t {position: absolute;bottom: 0;width: 100%;overflow: hidden;margin: 0;color: #fff;background: rgba(0,0,0,0.6)!important;filter: progid:dximagetransform.microsoft.gradient(GradientType=0,startColorstr='#82000000',endColorstr='#82000000');}
.cover .i-title {display: block;padding-left: 4px;padding-right: 4px;}
.sub-msg-opr {top: 0;left: 100%;height: 100%;width: 100%;background-color: #e5e5e5;background: rgba(229,229,229,0.85);filter: progid:dximagetransform.microsoft.gradient(GradientType=0,startColorstr='#85E5E5E5',endColorstr='#85E5E5E5') alpha(opacity=85);}
.tc {text-align: center;}
.layui-layer-title {
    padding: 0 80px 0 20px;
    height: 42px;
    line-height: 42px;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    color: #333;
    overflow: hidden;
    background-color: #F8F8F8;
    border-radius: 2px 2px 0 0;
}
.abs {position: absolute;}
img {border: 0;text-decoration: none;display: inline-block;}
.cover img {width: 100%;}
.cover li {text-align: -webkit-match-parent;list-style-type: none;}
.b-dib {display: inline-block; *display:inline; *zoom:1;}
.sub-msg-opr-item {margin: 40px 20px 0;font-size: 0;}
.cover .sub-msg-opr-item {margin-top: 70px;}
.icon18 {margin-left:-20px;background: url('../../common/images/icon18.png') no-repeat scroll 0 0 transparent;width: 18px;height: 18px;display: block;}
.iconEdit{background-position:0 -139px}
.iconEdit:hover{background-position:-28px -139px}
.th {line-height: 150px;overflow: hidden;}
.sub-msg-item {padding: 12px 14px;overflow: hidden;zoom: 1;border-top: 1px solid #c6c6c6;}
.rel {position: relative;}
.msg-item-wrapper .pv-tips {position: absolute;right: 0;top: 0;min-width: 100px;line-height: 1.8em;background: black;z-index: 100;opacity: .7;filter: alpha(opacity=70);border-radius: 5px;text-align: center;color: white;font-weight: bold;padding: .2em 1em;display: none;}
.thumb {float: right;font-size: 0;}
.cover .default-tip {color: #AAAAAA;font-size: 22px;    line-height: 160px;}
.default-tip {display: block;text-align: center;background-color: #ececec;text-shadow: 0 1px 0 #fff;-webkit-text-shadow: 0 1px 0 #fff;-moz-text-shadow: 0 1px 0 #fff;}
.thumb .default-tip {line-height:70px;font-size: 16px;color: #c0c0c0;width: 70px;height: 70px;border: 1px solid #b2b8bd;}
.thumb img {width: 70px;height: 70px;border: 1px solid #b2b8bd;}
.sub-msg-item .msg-t {margin-left: 0;margin-right: 85px;margin-top: 0;padding-left: 4px;padding-top: 12px;line-height: 24px;max-height: 48px;font-size: 14px;overflow: hidden;}
.sub-msg-item .msg-t {line-height: 24px;font-size: 14px;}
.iconDel{background-position:0 -195px}
.iconDel:hover{background-position:-28px -195px}
.sub-add {display: block;padding: 12px 14px;border-top: 1px solid #c6c6c6;}
.msg-preview .sub-add {display: block;}
.sub-add-btn {line-height: 70px; height:94px;color: #222;border: 2px dotted #b8b8b8;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px; padding-top:20px;}
.sub-add-icon {width: 18px;height: 18px;margin-right: 5px;background: transparent url('../../common/images/icon18.png') no-repeat 0 -83px;}
.dib {display: inline-block;}
.vm {vertical-align: middle;}
.sub-msg-opr-show .sub-msg-opr{left:0}
.addappmsg { height:352px; }
.dib { display: inline-block;}
.add-access{margin:20px 2px 0px 105px;width:360px;height:150px; line-height:150px;border:3px dotted #b8b8b8;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;background-color:#FFF}
.add-tip{margin-top:50px; width:42px;height:42px;background:#fff url('../../common/images/appmsg-icon.png') no-repeat 50% 0}
.add-btn{display:none;height:90px;margin:0 18px;color:#b5b5b5;background:transparent url('../../common/images/appmsg-icon.png') no-repeat 50% -242px}
.add-btn:hover{color:#d9d9d9;background-position:50% -42px}
.multi-access{background-position:50% -342px}
.multi-access:hover{background-position:50% -142px}
.add-btn-show .add-btn{display:inline-block}
.add-btn-show .add-tip{display:none}
.replyItems .space {display:block; height:37px;width:100%;}
.showWords .txtarea {border:0; padding:0 10px;width:100%;height:361px;line-height:1.5;font-size:14px;resize:none;text-indent:1em;}

.add-btn-show .alink{background:#fff url('../../common/images/link.png') no-repeat 50% 0px; height: 90px;}
.add-btn-show .alink:hover{background-position:50% -100px}
#divReplyLink {width: 553px;height: 359px;padding:10px 0 0 30px;}

.win-news{width:550px;padding:10px 10px 0 10px;line-height:36px;}
.height1{height:370px;}
.height2{height:280px;}
.win-news .pic,.win-news .tip{margin-left:67px;}
.height1 .pic{ width:320px;height:160px; overflow:hidden;}
.height2 .pic{width:70px;height:70px;}
.win-news .pic .default{vertical-align:middle;font-family: "Microsoft YaHei",Helvetica,Verdana,Arial,Tahoma;background-color: #ECECEC;display: block;text-align: center;text-shadow: 0 1px 0 #FFFFFF;color: #AAAAAA;}
.height1 .pic .default{font-size: 22px; line-height: 160px;width:320px;height:160px;}
.height2 .pic .default{font-size: 18px; line-height: 70px;width:70px;height:70px;}
.height1 .pic img{ width:100%;}
.height2 .pic img{width:100%;height:100%;}
.win-news-operate{ margin-top:10px; padding-left:65px;}

.addlink { float:right; }
.addlink a { text-decoration: none;color: #2559A6;padding-left:3px;font-size:12px; }
#tdMenu .tarea {float:left;}
#tdMenu .tarea  textarea {width:570px;height:372px;font-size: 14px;line-height: 1.5;padding:3px; resize:none;}
#tdMenu .tarea .botton { border: 1px solid #CCC; margin:3px 0;padding: 0 10px; }
#tdMenu .demo { float:left;padding-left:10px;width:100px;}
#tdMenu .demo div {padding:3px; border: 1px solid #CCC;width:320px; height:380px;overflow:hidden;font-size: 14px;line-height: 1.5;}

.btnReplyArea {height: 30px;padding: 7px 7px 7px 7px;overflow: hidden; border-top:1px solid #DBDBDB;}
.btnReplyArea .btnAdd {height:23px;font-family: "Microsoft YaHei",Helvetica,Verdana,Arial,Tahoma;line-height: 1.5;font-size: 14px;padding-left: 28px;background: url('../../common/images/icon28.png') no-repeat scroll 0 0 transparent;border: 0;cursor: pointer;}
.btnReplyArea a {text-align:center;min-width: 78px;display: block;margin-top: 3px;float: right;}
.btnReplyArea .addWords {background-position: 0 -116px;}
.btnReplyArea .addRecording {background-position: 0 -148px;}
.btnReplyArea .addFiles {background-position: 0 -179px;}
.btnReplyArea .addAppMsg {background-position: 0 -212px;}
.btnReplyArea .addLink {background:url('../../common/images/link-btn.png') no-repeat;}


.txt350 {
    border: 1px solid #CCCCCC;
    height: 20px;
    padding: 3px;
    width: 350px;
}
@charset "utf-8";
.simpleTree
{
    text-align:left;
    margin:0;
    padding:0;
    /*
    overflow:auto;
    width: 250px;
    height:350px;
    overflow:auto;
    border: 1px solid #444444;
    */
}
.simpleTree li
{
    list-style: none;
    margin:0;
    padding:0 0 0 34px;
    line-height: 20px;
    font-size:14px;
}
.simpleTree li span
{
    display:inline;
    cursor:pointer;
}
.simpleTree ul
{
    margin:0; 
    padding:0;
}
.simpleTree .root
{
    background: url(../../common/images/root.gif) no-repeat 16px 0 #ffffff;
}
.simpleTree .line
{
    margin:0 0 0 -16px;
    padding:0;
    line-height: 3px;
    height:3px;
    font-size:3px;
    background: url(../../common/images/line_bg.gif) 0 0 no-repeat transparent;
}
.simpleTree .line-last
{
    margin:0 0 0 -16px;
    padding:0;
    line-height: 3px;
    height:3px;
    font-size:3px;
    background: url(../../common/images/spacer.gif) 0 0 no-repeat transparent;
}
.simpleTree .line-over
{
    padding:0;
    line-height: 3px;
    height:3px;
    font-size:3px;
    margin-left: -16px;
    background: url(../../common/images/line_bg_over.gif) 0 0 no-repeat transparent;
}
.simpleTree .line-over-last
{
    margin:0 0 0 -16px;
    padding:0;
    line-height: 3px;
    height:3px;
    font-size:3px;
    background: url(../../common/images/line_bg_over_last.gif) 0 0 no-repeat transparent;
}
.simpleTree .folder-open
{
    margin-left:-16px;
    background: url(../../common/images/collapsable.gif) 0 0 no-repeat #fff;
}
.simpleTree .folder-open-last
{
    margin-left:-16px;
    background: url(../../common/images/collapsable-last.gif) 0 0 no-repeat #fff;
}
.simpleTree .folder-close
{
    margin-left:-16px;
    background: url(../../common/images/expandable.gif) 0 0 no-repeat #fff;
}
.simpleTree .folder-close-last
{
    margin-left:-16px;
    background: url(../../common/images/expandable-last.gif) 0 0 no-repeat #fff;
}
.simpleTree .doc
{
    margin-left:-16px;
    background: url(../../common/images/leaf.gif) 0 0 no-repeat #fff;
}
.simpleTree .doc-last
{
    margin-left:-16px;
    background: url(../../common/images/leaf-last.gif) 0 0 no-repeat #fff;
}
.simpleTree .ajax
{
    background: url(../../common/images/spinner.gif) no-repeat 0 0 #ffffff;
    height: 16px;
    display:none;
}
.simpleTree .ajax li
{
    display:none;
    margin:0; 
    padding:0;
}
.simpleTree .trigger
{
    display:inline;
    margin-left:-32px;
    width: 28px;
    height: 11px;
    cursor:pointer;
}

.simpleTree .text
{
    padding-left: 3px;
}
.simpleTree .yiji
{
    padding-left: 3px;
}
.simpleTree .erji
{
    padding-left: 3px;
}
.simpleTree .active1
{
    background-color:#F7BE77;
    padding:0px 2px 0px 3px;
    border: 1px dashed #444;
}
#drag_container
{
    background:#ffffff;
    color:#000;
    font: normal 11px arial, tahoma, helvetica, sans-serif;
    border: 1px dashed #767676;
}
#drag_container ul
{
    list-style: none;
    padding:0;
    margin:0;
}

#drag_container li
{
    list-style: none;
    background-color:#ffffff;
    line-height:18px;
    white-space: nowrap;
    padding:1px 1px 0px 16px;
    margin:0;
}
#drag_container li span
{
    padding:0;
}

#drag_container li.doc, #drag_container li.doc-last
{
    background: url(../../common/images/leaf.gif) no-repeat -17px 0 #ffffff;
}
#drag_container .folder-close, #drag_container .folder-close-last
{
    background: url(../../common/images/expandable.gif) no-repeat -17px 0 #ffffff;
}

#drag_container .folder-open, #drag_container .folder-open-last
{
    background: url(../../common/images/collapsable.gif) no-repeat -17px 0 #ffffff;
}
.contextMenu
{
    display:none;
}
.btnGreen{border:1px solid #3d810c;box-shadow:0 1px 1px #aaa;-moz-box-shadow:0 1px 1px #aaa;-webkit-box-shadow:0 1px 1px #aaa;padding:5px 20px;cursor:pointer;display:inline-block;text-align:center;overflow:visible;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;*zoom:1;background-color:#5ba607;background-image:linear-gradient(bottom,#4d910c 3%,#69b310 97%,#fff 100%);background-image:-moz-linear-gradient(bottom,#4d910c 3%,#69b310 97%,#fff 100%);background-image:-webkit-linear-gradient(bottom,#4d910c 3%,#69b310 97%,#fff 100%);color:#fff;border:1px solid #3d810c}
.btnGreen:hover{background-color:#5ba607;background-image:linear-gradient(bottom,#3d810c 3%,#69b310 97%,#fff 100%);background-image:-moz-linear-gradient(bottom,#3d810c 3%,#69b310 97%,#fff 100%);background-image:-webkit-linear-gradient(bottom,#3d810c 3%,#69b310 97%,#fff 100%);color:#fff}
.btnGreenS{border:1px solid #3d810c;box-shadow:0 1px 1px #aaa;-moz-box-shadow:0 1px 1px #aaa;-webkit-box-shadow:0 1px 1px #aaa;padding:5px 20px;cursor:pointer;display:inline-block;text-align:center;overflow:visible;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;*zoom:1;background-color:#5ba607;background-image:linear-gradient(bottom,#4d910c 3%,#69b310 97%,#fff 100%);background-image:-moz-linear-gradient(bottom,#4d910c 3%,#69b310 97%,#fff 100%);background-image:-webkit-linear-gradient(bottom,#4d910c 3%,#69b310 97%,#fff 100%);color:#fff;border:1px solid #3d810c;margin:0;padding:3px 5px}
.btnGreenS:hover{background-color:#5ba607;background-image:linear-gradient(bottom,#3d810c 3%,#69b310 97%,#fff 100%);background-image:-moz-linear-gradient(bottom,#3d810c 3%,#69b310 97%,#fff 100%);background-image:-webkit-linear-gradient(bottom,#3d810c 3%,#69b310 97%,#fff 100%);color:#fff}
.btnGray{border:1px solid #3d810c;box-shadow:0 1px 1px #aaa;-moz-box-shadow:0 1px 1px #aaa;-webkit-box-shadow:0 1px 1px #aaa;padding:5px 20px;cursor:pointer;display:inline-block;text-align:center;overflow:visible;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;*zoom:1;background-color:#f1f1f1;background-image:linear-gradient(bottom,#f0f0f0 3%,#f9f9f9 97%,#fff 100%);background-image:-moz-linear-gradient(bottom,#f0f0f0 3%,#f9f9f9 97%,#fff 100%);background-image:-webkit-linear-gradient(bottom,#f0f0f0 3%,#f9f9f9 97%,#fff 100%);color:#000;border:1px solid #AAA}
.btnGray:hover{background-color:#f9f9f9;background-image:linear-gradient(bottom,#f8f8f8 3%,#f9f9f9 97%,#fff 100%);background-image:-moz-linear-gradient(bottom,#f8f8f8 3%,#f9f9f9 97%,#fff 100%);background-image:-webkit-linear-gradient(bottom,#f8f8f8 3%,#f9f9f9 97%,#fff 100%);color:#000}
.btnGrayS{border:1px solid #3d810c;box-shadow:0 1px 1px #aaa;-moz-box-shadow:0 1px 1px #aaa;-webkit-box-shadow:0 1px 1px #aaa;padding:5px 20px;cursor:pointer;display:inline-block;text-align:center;overflow:visible;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;*zoom:1;background-color:#f1f1f1;background-image:linear-gradient(bottom,#f0f0f0 3%,#f9f9f9 97%,#fff 100%);background-image:-moz-linear-gradient(bottom,#f0f0f0 3%,#f9f9f9 97%,#fff 100%);background-image:-webkit-linear-gradient(bottom,#f0f0f0 3%,#f9f9f9 97%,#fff 100%);color:#000;border:1px solid #AAA;box-shadow:0 1px 1px #d0d0d0;-moz-box-shadow:0 1px 1px #d0d0d0;-webkit-box-shadow:0 1px 1px #d0d0d0;margin:0;padding:3px 5px;*padding-top:0;*padding-bottom:0;*height:26px;*line-height:22px}
.btnGrayS:hover{background-color:#f9f9f9;background-image:linear-gradient(bottom,#f8f8f8 3%,#f9f9f9 97%,#fff 100%);background-image:-moz-linear-gradient(bottom,#f8f8f8 3%,#f9f9f9 97%,#fff 100%);background-image:-webkit-linear-gradient(bottom,#f8f8f8 3%,#f9f9f9 97%,#fff 100%);color:#000}
.float-p .btnArea {
    background: #eeeded;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    height: 30px;
    padding: 7px 7px 7px 7px;
}
.menua { float:left;margin-left:2%;margin-top:2%;width:30%;height:460px; margin-right:6px; padding:10px 10px 10px 0px; border-top: 1px solid #dbdbdb;border-left: 1px solid #dbdbdb;border-right: 1px solid #dbdbdb;border-radius: 6px 6px 0 0;-moz-border-radius: 6px 6px 0 0;-webkit-border-radius: 6px 6px 0 0; }
.menua li {clear:both;}
.menua .right {float:right;width:48px;position:relative;padding-top:3px;}
.menua .right i {background: url(../../common/images/bgicon.png) no-repeat;cursor: pointer;height:14px; width:14px;position:absolute;}
.menua .right .add{ background-position: -408px -96px;left:0px;top:3px;*+top:-20px;}
.menua .right .editmenu{ background-position: -96px -72px;left:18px;top:3px;*+top:-20px;}
.menua .right .del{ background-position: -312px 0;left:36px;top:3px;*+top:-20px;}
.replyList {
    margin-top: 1%;
    height:520px;
    float: right;
    display: inline-block;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    width: 60%;
    background: #fff;
    border: 1px solid #dbdbdb;
    overflow: hidden;
    margin-left: 50px;
}
.clear {clear:both;}
 .btnArea .btnGreenS {margin-left:2px;}
.remind { margin:0 10px 10px 10px;}
.remind p { font-size:14px;color:gray;text-align:left;line-height:1.5em; }
.replyList .wait {height:500px; width:570px; position:relative;}
.replyList .wait .loading { left:277px; top:220px; position:absolute;}
.replyList .wait .required { padding-top:50px;color:gray; text-align:center; }
.replyList .wait .bottom {position:absolute;left:0;width:100%;top:456px; background: #eeeded;border-radius: 0 0 5px 5px;-moz-border-radius: 0 0 5px 5px;-webkit-border-radius: 0 0 5px 5px;height: 30px;padding: 7px; }
.replyList .wait .cover { width:100%;height:100%; opacity: 0.1; z-index: 1987; display: block; background: none repeat scroll 0px 0px rgb(0, 0, 0);margin:0; }
.btnArea {
    height:50px;
    float: left;
    margin-left: 2%;
    width: 300px;
    border-bottom: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    padding: 7px 0;
    background: #eeeded;
    -webkit-border-radius: 0 0 5px 5px;
    margin-bottom: 1%;
    margin-top: -4%;
}

/******** Demo  *****/

.democover { width:100%;height:100%; z-index: 9999; left:0;top:0;  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5) !important;margin:0; position:absolute;text-align:center; }

.nei{
    width:322px;
    height:645px;
    background:url(../../common/images/bg_pre.png) no-repeat;
    margin:0px auto;
    position:fixed;
}

.mgtop{
    width:162px;
    height:20px;
    line-height:20px;
    float:left;
    margin-top:140px;
    margin:140px 80px 0px 80px;
    text-align:center;
    overflow:hidden;
    font-size:14px;
    color:#fff;
}

.mgcen{
    width:242px;
    float:left;
    height:300px;
    padding:10px 40px;
}

.mgbot{
    width:282px;
    float:left;
    height:30px;
    line-height:30px;
    padding:0px 40px;
    margin-left:20px;
}

.bg_nav{
    width:58px;
    text-align:center;
    float:left;
    color:#555;
    position:relative;
    margin-left:10px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.bg_nav a{
    padding-right:4px;
    padding-left:5px;
    display:block;
    color:#555;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
    background:url(../../common/images/bg_3.gif) right center no-repeat;
}

.bg_nav a.nochilds {
    padding-right:4px;
    padding-left:5px;
    display:block;
    color:#555;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
    background:none;
}

.bg_nav a:hover{
    padding-right:4px;
    display:block;
    text-decoration:none;
    color:#a4a4a4;
    overflow:hidden;
}

.ahover{
    padding-right:4px;
    text-decoration:underline;
    color:#a4a4a4;
    overflow:hidden;
}

.tcc {
    width:82px;
    border:1px solid #acacaa;
    border-radius:5px;
    background:#dedede;
    position:absolute;
    top:-60px;
    left:-28px;
    padding:0px;
    margin:0px 0px 5px 0px;
    text-indent:0px;
    text-align:center;
    display:none;
    
}

.tcc ul{
    width:90px;
    border:1px solid #acacaa;
    border-radius:5px;
    background:#dedede;
    position:absolute;
    bottom:-42px;
    left:-1px;
    padding:0px;
    margin:0px 0px 5px 0px;
    text-indent:0px;
    text-align:center;
    
}

.tcc li{
    width:80px;
    height:30px;
    line-height:30px;
    margin:4px;
    text-overflow: ellipsis;
    overflow:hidden;
    border-bottom: 1px solid #ccc;
    cursor:pointer;
}

.tcc .li-last{
    width:80px;
    height:30px;
    line-height:30px;
    margin:4px;
    text-overflow: ellipsis;
    overflow:hidden;
    border-bottom: 0px solid #ccc;
}

.tcc li:hover{
    width:80px;
    height:30px;
    line-height:30px;
    background:#3399FF;
    margin:4px;
    border-radius:5px;
}
.ihover{
    width:80px;
    height:30px;
    line-height:30px;
    background:#3399FF;
    margin:4px;
    border-radius:5px;
}

.botimg{
    width:84px;
    height:20px;
    position:absolute;
    top:36px;
    left:45px;
    background:url(../../common/images/bg_2.gif) no-repeat;
}

.clos{
    position:absolute;
    top:0px;
    right:-20px;
    cursor:pointer;
    background: url(../../common/images/close.png) no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 65px;
    width: 65px;
}

.clos:hover{
    background-position: -65px 0;
}


.split{
    width:12px;
    height:32px;
    float:left;
    background:url(../../common/images/bg_1.png) center center no-repeat;
    overflow:hidden;
}

