<!DOCTYPE html>
 
<html lang="en">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8"/>
<title>{$selected_title} {$open_title} {$active_title}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta content="" name="description"/>
<meta content="" name="author"/>
<link href="__PUBLIC__/admin/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/admin/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/admin/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/admin/css/components.css" id="style_components" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/admin/css/layout.css" rel="stylesheet" type="text/css"/>
<link href="__PUBLIC__/admin/css/darkblue.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="__PUBLIC__/common/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/common/layer/layer.js"></script>
</head>

<body class="page-header-fixed page-quick-sidebar-over-content page-sidebar-closed-hide-logo">
<!-- BEGIN HEADER -->
<div class="page-header -i navbar navbar-fixed-top">