 <div class="page-sidebar-wrapper">
        <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
        <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
        <div class="page-sidebar navbar-collapse collapse">
            <!-- BEGIN SIDEBAR MENU1 -->
            <ul class="page-sidebar-menu hidden-sm hidden-xs" data-auto-scroll="true" data-slide-speed="200">
              
                 <foreach name='sencodcolumnlist' item='v'>
                <li class="start  <?php if($open==$v['_id']) echo 'active open'; ?>"  >
                    <a href="javascript:;">
                    <i class="fa fa-cogs"></i>
                    <span class="title">
                    {$v.title} </span>
                    <span class="arrow open">
                    </span>
                     <?php if($open==$v['_id']) echo '<span class="selected"></span>'; ?>
                    </a>
                    
                    <ul class="sub-menu">
                      <?php 
                        $column = new \Think\Model\MongoModel('column');
                        $subcolumnlist=$column->where(array('pid' =>$v['_id']))->order('sort_order desc')->select();
                      //  echo $column->getLastSql();
                     // p($subcolumnlist);
                    foreach ($subcolumnlist as $value){
                        ?>
                        <li <?php if($active==$value['_id']) echo 'class="active"'; ?>  >
                            <a href="{:U('column',array('_id' =>$value['_id']))}">
                            <?php  echo $value['title'] ; ?></a>
                        </li>
                       <?php
                        } ?>
                    </ul>
                </li>
                </foreach>
            
            </ul>
            <!-- END SIDEBAR MENU1 -->
            <!-- BEGIN RESPONSIVE MENU FOR HORIZONTAL & SIDEBAR MENU -->
            
            
            <!-- END RESPONSIVE MENU FOR HORIZONTAL & SIDEBAR MENU -->
        </div>
    </div>