<!-- 
 <div class="container-fluid">
      <div class="row">
        <div class="col-xs-3 col-md-3">
          <div class="thumbnail">
          <a href="{:U('video_list')}">  <img src="__PUBLIC__/weixin/index/images/icon/shipin.png" width="50" height="50"></a>
            <div class="caption">
           <a href="{:U('video_list')}">     <h5>视频</h5></a>
            </div>
          </div>
        </div>
         <div class="col-xs-3 col-md-3">
          <div class="thumbnail">
          <a href="{:U('show_list')}">    <img src="__PUBLIC__/weixin/index/images/icon/zhibo.png" width="50" height="50"></a>
            <div class="caption">
          <a href="{:U('show_list')}">      <h5>直播</h5></a>
            </div>
          </div>
        </div>
        <div class="col-xs-3 col-md-3">
          <div class="thumbnail">
         <a href="{:U('faxian')}">     <img src="__PUBLIC__/weixin/index/images/icon/zhaogongzuo.png" width="50" height="50"></a>
            <div class="caption">
         <a href="{:U('faxian')}">       <h5>便民</h5></a>
            </div>
          </div>
        </div>
        <div class="col-xs-3 col-md-3">
          <div class="thumbnail">
       <a href="{:U('friend_list')}">       <img src="__PUBLIC__/weixin/index/images/icon/jiaoyou.png" width="50" height="50"></a>
            <div class="caption">
       <a href="{:U('friend_list')}">         <h5>交友</h5></a>
            </div>
          </div>
        </div>
        <div class="col-xs-3 col-md-3">
          <div class="thumbnail">
        <a href="{:U('activity_list')}">      <img src="__PUBLIC__/weixin/index/images/icon/huodong.png" width="50" height="50"></a>
            <div class="caption">
       <a href="{:U('activity_list')}">         <h5>活动</h5></a>
            </div>
          </div>
        </div>
         <div class="col-xs-3 col-md-3">
          <div class="thumbnail">
        <a href="{:U('medicine')}">      <img src="__PUBLIC__/weixin/index/images/icon/jiankang.png" width="50" height="50"></a>
            <div class="caption">
       <a href="{:U('medicine')}">         <h5>求医问药</h5></a>
            </div>
          </div>
        </div>
          <div class="col-xs-3 col-md-3">
          <div class="thumbnail">
        <a href="{:U('education')}">      <img src="__PUBLIC__/weixin/index/images/icon/zaojiao.png" width="50" style="height:50px"></a>
            <div class="caption">
       <a href="{:U('education')}">         <h5>在线早教</h5></a>
            </div>
          </div>
        </div>
          <div class="col-xs-3 col-md-3">
          <div class="thumbnail">
        <a href="{:U('invest')}">      <img src="__PUBLIC__/weixin/index/images/icon/jinrong.png" width="50" style="height:50px"></a>
            <div class="caption">
       <a href="{:U('invest')}">         <h5>金融理财</h5></a>
            </div>
          </div>
        </div>
           <div class="col-xs-3 col-md-3">
          <div class="thumbnail">
        <a href="{:U('product')}">      <img src="__PUBLIC__/weixin/index/images/icon/shangcheng.jpg" width="50" style="height:50px"></a>
            <div class="caption">
       <a href="{:U('product')}">         <h5>微商城</h5></a>
            </div>
          </div>
        </div>

      </div>
    </div> -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-3 col-md-3">
          <div class="thumbnail">
          <a href="{:U('video_list')}" data-ajax="false">  <img src="__PUBLIC__/weixin/index/images/icon/shipin.png" width="50" height="50"></a>
            <div class="caption">
           <a href="{:U('video_list')}" data-ajax="false">     <h5>视频</h5></a>
            </div>
          </div>
        </div>
         <div class="col-xs-3 col-md-3">
          <div class="thumbnail">
          <a href="{:U('show_list')}" data-ajax="false">    <img src="__PUBLIC__/weixin/index/images/icon/zhibo.png" width="50" height="50"></a>
            <div class="caption">
          <a href="{:U('show_list')}" data-ajax="false">      <h5>直播</h5></a>
            </div>
          </div>
        </div>
        <div class="col-xs-3 col-md-3">
          <div class="thumbnail">
         <a href="{:U('faxian')}" data-ajax="false">     <img src="__PUBLIC__/weixin/index/images/icon/zhaogongzuo.png" width="50" height="50"></a>
            <div class="caption">
         <a href="{:U('faxian')}" data-ajax="false">       <h5>便民</h5></a>
            </div>
          </div>
        </div>
        <div class="col-xs-3 col-md-3" >
          <div class="thumbnail">
       <a href="{:U('friend_list')}" data-ajax="false">       <img src="__PUBLIC__/weixin/index/images/icon/jiaoyou.png" width="50" height="50"></a>
            <div class="caption">
       <a href="{:U('friend_list')}" data-ajax="false">         <h5>交友</h5></a>
            </div>
          </div>
        </div>
        <div class="col-xs-3 col-md-3">
          <div class="thumbnail">
        <a href="{:U('activity_list')}" data-ajax="false">      <img src="__PUBLIC__/weixin/index/images/icon/huodong.png" width="50" height="50"></a>
            <div class="caption">
       <a href="{:U('activity_list')}" data-ajax="false">         <h5>活动</h5></a>
            </div>
          </div>
        </div>
       

      </div>
    </div>