   <nav class="navbar navbar-default navbar-fixed-bottom navbar-bottom-custom navbar-bottom-height">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-3 navbar-bottom-item">
            <a href="#"><img src="__PUBLIC__/weixin/new_index/images/icon/shouye.png"><p>首页</p></a>
          </div>
          <div class="col-xs-3 navbar-bottom-item">
            <a href="#"><img src="__PUBLIC__/weixin/new_index/images/icon/faxian.png"><p>发现</p></a>
          </div>
          <div class="col-xs-3 navbar-bottom-item">
            <a href="#"><img src="__PUBLIC__/weixin/new_index/images/icon/dongtai.png"><p>动态</p></a>
          </div>
          <div class="col-xs-3 navbar-bottom-item">
            <a href="#"><img src="__PUBLIC__/weixin/new_index/images/icon/wo.png"><p>我</p></a>
          </div>
        </div>
      </div>
    </nav>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="__PUBLIC__/weixin/new_index/js/bootstrap.min.js"></script>
    <script src="__PUBLIC__/weixin/new_index/js/swiper-3.4.2.min.js"></script>
    <script src="__PUBLIC__/weixin/new_index/js/jquery.mobile.js"></script>
    <script src="__PUBLIC__/weixin/new_index/js/index.js"></script>
  </body>
</html>